.planos__cabeca {
  width: 13rem;
  padding: 1.5rem .5rem .5rem .5rem;
  text-align: center;
}

@media screen and (min-width: 834px) {
  .planos__cabeca {
    width: 18rem;
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .planos__cabeca {
    width: 27rem;
    padding: 1.5rem 2.5rem;
  }
}