.gym__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 0.1rem solid var(--color-brand-primary);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
  min-width: 10.5rem;
  min-height: 10rem;
}

@media screen and (min-width: 834px) {
  .gym__item {
    min-width: 11.5rem;
    min-height: 11rem;
  }
}

@media screen and (min-width: 1440px) {
  .gym__item {
    min-width: 12.5rem;
    min-height: 12rem;
  }
}
