.academia__card {
  background: var(--cor-fundo-2);
  border-radius: .5rem;
  box-shadow: 0 .3rem .3rem .2rem var(--cor-fundo-25);
  max-width: 36rem;
  overflow: hidden;
}

@media screen and (min-width: 834px) {
  .academia__card {
    max-width: 38.7rem;
  }
}

@media screen and (min-width: 1440px) {
  .academia__card {
    max-width: 42.7rem;
  }
}