.academia__plano {
  color: var(--cor-escura);
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Overpass', sans-serif;
}

@media screen and (min-width: 1440px) {
  .academia__plano {
    font-size: 2.8rem;
  }
}