.academia__valor {
  color: var(--cor-titulo);
  font-size: 2rem;
  font-family: 'Overpass', sans-serif;
}

.academia__valor--alt {
  color: var(--cor-principal);
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  .academia__valor {
    font-size: 2.4rem;
  }
}