.academia {
  margin-top: 3.5rem;
  background-image: url(../../assets/svg/decoracao-black.svg);
  background-repeat: no-repeat;
  background-position: calc(100% + 7rem) center;
  background-size: 16rem;
}

@media screen and (min-width: 834px) {
  .academia {
    margin-top: 6rem;
    background-size: 21.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .academia {
    margin-top: 10rem;
    background-size: 28rem;
  }
}