.newsletter__wrapper {
  max-width: 132rem;
  margin: 0 auto;
  opacity: 0;
}

.newsletter__wrapper.active {
  animation: topRevel .5s forwards;
}

@media screen and (min-width: 1440px) {
  .newsletter__wrapper {
    display: flex;
    gap: 5rem;
  }
}