.newsletter {
  background-image:
    url(../../assets/svg/decoracao-white.svg),
    linear-gradient(0deg, var(--cor-fundo-50), var(--cor-fundo-50)),
    url(../../assets/img/mobile/newsletter.jpg);
  background-size:
    16rem,
    cover,
    cover;
  background-repeat: no-repeat;
  background-position:
    calc(100% + 5.75rem) calc(0px - 4rem),
    center,
    right bottom;
  color: var(--cor-fundo-1);
  margin-top: 4.5rem;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

@media screen and (min-width: 834px) {
  .newsletter {
    background-image:
    url(../../assets/svg/decoracao-white.svg),
    linear-gradient(0deg, var(--cor-fundo-50), var(--cor-fundo-50)),
    url(../../assets/img/tablet/newsletter.jpg);
    background-size:
      21.7rem,
      cover,
      cover;
    background-position:
      calc(100% + 5.75rem) 1rem,
      center,
      right bottom;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .newsletter {
    background-image:
    url(../../assets/svg/decoracao-white.svg),
    linear-gradient(0deg, var(--cor-fundo-50), var(--cor-fundo-50)),
    url(../../assets/img/desktop/newsletter.jpg);
    background-size:
      23.5rem,
      cover,
      cover;
      background-position:
      calc(100% + 5.75rem) 1rem,
      center,
      right top;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}