.newsletter {
  background-image:
    url(../../assets/svg/icons-art/section-accent--light.svg),
    linear-gradient(0deg, var(--color-overlay-50), var(--color-overlay-50)),
    /* @img {"width":540} */ url(../../assets/img/newsletter.jpg);
  background-size: 16rem, cover, cover;
  background-repeat: no-repeat;
  background-position:
    calc(100% + 5.75rem) -4rem,
    center,
    right bottom;
  color: var(--color-surface-base);
  padding: 3.5rem 1.5rem;
}

@media screen and (min-width: 834px) {
  .newsletter {
    background-image:
      url(../../assets/svg/icons-art/section-accent--light.svg),
      linear-gradient(0deg, var(--color-overlay-50), var(--color-overlay-50)),
      /* @img {"width":834} */ url(../../assets/img/newsletter.jpg);
    background-size: 21.7rem, cover, cover;
    background-position:
      calc(100% + 5.75rem) 1rem,
      center,
      right bottom;
    padding: 6rem 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .newsletter {
    background-image:
      url(../../assets/svg/icons-art/section-accent--light.svg),
      linear-gradient(0deg, var(--color-overlay-50), var(--color-overlay-50)),
      /* @img {"width":1440} */ url(../../assets/img/newsletter.jpg);
    background-size: 23.5rem, cover, cover;
    background-position:
      calc(100% + 5.75rem) 1rem,
      center,
      right top;
    padding: 10rem 6rem;
  }
}
