.newsletter__ipt {
  padding: .8rem .2rem .8rem 2.5rem;
  box-shadow: 0 -.1rem .2rem .2rem var(--cor-sombra) inset;
  border: 0;
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 834px) {
  .newsletter__ipt {
    font-size: 2.4rem;
  }
}