.newsletter {
  background-image:
    /* @img mobile */
    url(../../assets/svg/icons-art/section-accent--light.svg),
    linear-gradient(0deg, var(--color-overlay-50), var(--color-overlay-50)),
    /* @img mobile */ url(../../assets/img/newsletter.jpg);
  background-size: 16rem, cover, cover;
  background-repeat: no-repeat;
  background-position:
    calc(100% + 5.75rem) -4rem,
    center,
    right bottom;
  color: var(--color-surface-base);
  margin-top: 4.5rem;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

@media screen and (min-width: 834px) {
  .newsletter {
    background-image:
      /* @img tablet */
      url(../../assets/svg/icons-art/section-accent--light.svg),
      linear-gradient(0deg, var(--color-overlay-50), var(--color-overlay-50)),
      /* @img tablet */ url(../../assets/img/newsletter.jpg);
    background-size: 21.7rem, cover, cover;
    background-position:
      calc(100% + 5.75rem) 1rem,
      center,
      right bottom;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .newsletter {
    background-image:
      /* @img desktop */
      url(../../assets/svg/icons-art/section-accent--light.svg),
      linear-gradient(0deg, var(--color-overlay-50), var(--color-overlay-50)),
      /* @img desktop */ url(../../assets/img/newsletter.jpg);
    background-size: 23.5rem, cover, cover;
    background-position:
      calc(100% + 5.75rem) 1rem,
      center,
      right top;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
