.newsletter__item {
  position: relative;
}

.newsletter__item::before {
  position: absolute;
  content: '';
  height: 2rem;
  width: 2rem;
  background-image: url(../../assets/svg/plano-check-min.svg);
  background-size: contain;
  top: 50%;
  left: 100%;
  margin-left: 1rem;
  transform: translate(0, -50%);
}

@media screen and (min-width: 834px) {
  .newsletter__item::before {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .newsletter__item::before {
    height: 3.5rem;
    width: 3.5rem;
    margin-left: 2.5rem;

  }
}