.newsletter__topo {
  max-width: 34rem;
}

@media screen and (min-width: 834px) {
  .newsletter__topo {
    max-width: 46rem;
  }
}

@media screen and (min-width: 1440px) {
  .newsletter__topo {
    flex: 1;
    max-width: none;
  }
}