.banner__conteudo {
  position: absolute;
  top: 50%;
  left: 2rem;
  color: var(--cor-fundo-1);
  display: flex;
  flex-direction: column;
  max-width: 31.5rem;
  opacity: 0;
}

.banner__conteudo.active {
  animation: topRevelBanner .5s forwards;
}

@media screen and (min-width: 1440px) {
  .banner__conteudo {
    position: relative;
    top: 40rem;
    left: 0;
    max-width: 132rem;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
}