.banner__content {
  position: absolute;
  top: 50%;
  left: 2rem;
  color: var(--color-surface-base);
  display: flex;
  flex-direction: column;
  max-width: 31.5rem;
  opacity: 0;
}

.banner__content:where([data-state="visible"]) {
  animation: topRevelBanner 0.5s forwards;
}

@media screen and (min-width: 1440px) {
  .banner__content {
    position: relative;
    top: 40rem;
    left: 0;
    max-width: 132rem;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
}
