.banner__conteudo {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--cor-fundo-1);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 13.5%;
  width: 100%;
  max-width: 30rem;
}

@media screen and (min-width: 768px){
  .banner__conteudo {
    margin-left: 13%;
    margin-bottom: 0;
    left: 0;
    bottom: 50%;
    text-align: left;
    max-width: 100%;
    width: fit-content;
    transform: translate(0, 50%);
  }

  .banner__conteudo--alt {
    margin-left: 0;
    margin-right: 13%;
    left: initial;
    right: 0;
    text-align: right;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px){
  .banner__conteudo {
    gap: 1.6rem;
  }
}

