.banner {
  position: relative;
  height: 64.2rem;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay-65);
  z-index: 1;
}

@media screen and (min-width: 1440px) {
  .banner {
    display: flex;
    justify-content: center;
  }
}
