@keyframes topRevel {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes topRevelBanner {
  0% {
    opacity: 0;
    transform: translate(0%, calc(-50% + 10rem));

  }

  100% {
    opacity: 1;
    transform: translate(0%, -50%);
  }
}