:root {
  font-size: 62.5%;

  --color-brand-primary: #f79517;
  --color-brand-primary-0: #f7951700;
  --color-brand-primary-23: #f795173b;
  --color-brand-primary-75: #f79517bf;

  --color-brand-primary-dark: #c65a00;

  --color-text-primary: #575757;
  --color-text-secondary: #6c757d;
  --color-text-placeholder: #333333d6;

  --color-surface-base: #ffffff;
  --color-surface-muted: #f4f4fb;
  --color-surface-mobile-menu: #343a40;

  --color-overlay-25: #00000040;
  --color-overlay-35: #00000059;
  --color-overlay-50: #00000080;
  --color-overlay-65: #000000a6;

  --color-neutral-black: #000000;
  --color-neutral-white: #ffffff;
  --color-shadow: #292d3275;

  font-family: "Kokoro", sans-serif;
}

* {
  box-sizing: border-box;
  line-height: normal;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}
