:root {
  font-size: 62.5%;

  --cor-principal: #F79517;
  --cor-principal-claro: #CCC;
  --cor-logo: #DAFF01;
  --cor-principal-alt: #9353FF;

  --cor-fonte: #6C757D;

  --cor-fundo-1: #FFF;
  --cor-fundo-menu-mobile: #343A40;

  --cor-fundo-25: #00000040;
  --cor-fundo-35: #00000059;
  --cor-fundo-65: #000000a6;

  --cor-complementar-1: #EE6471;
  --cor-complementar-2: #F87F46;

  --cor-titulo: #212529;

  --cor-escura: #000000;

  font-family: 'Fira Sans', sans-serif;
}

* {
  box-sizing: border-box;
  line-height: normal;
}

img {
  width: 100%;
  height: auto;
}