.btn {
  color: var(--cor-escura);
  background: var(--cor-principal);
  border: 0;
  border-radius: 4rem;
  font-size: 1.6rem;
  height: 4rem;
  margin-top: 2rem;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 35.7rem;
  width: 100%;
}

.btn--banner {
  max-width: 28.4rem;
}

.btn--planos {
  align-self: center;
  margin-top: 3.5rem;
  height: 5rem;
}

.btn--formulario {
  background: var(--cor-escura);
  color: var(--cor-principal);
  margin-top: 0;
}