.btn {
  color: var(--color-neutral-black);
  background: var(--color-brand-primary);
  border: 0;
  border-radius: 4rem;
  font-size: 1.6rem;
  height: 4rem;
  margin-top: 2rem;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 35.7rem;
  width: 100%;
  cursor: pointer;
  transition: background 0.5s;
}

.btn:hover {
  color: var(--color-brand-primary);
  background: var(--color-neutral-black);
}

.btn--banner {
  max-width: 28.4rem;
}

.btn--planos {
  align-self: center;
  margin-top: 3.5rem;
  height: 5rem;
  font-size: 2rem;
}

.btn--formulario {
  background: var(--color-neutral-black);
  color: var(--color-brand-primary);
  margin-top: 0;
}

.btn--formulario:hover {
  background: var(--color-surface-base);
  color: var(--color-neutral-black);
}

@media screen and (min-width: 834px) {
  .btn--planos {
    margin-top: 3rem;
  }

  .btn--formulario {
    font-size: 2.4rem;
    height: 5rem;
  }
}

@media screen and (min-width: 1440px) {
  .btn--academia {
    font-size: 2rem;
    height: 5rem;
    max-width: none;
  }

  .btn--planos {
    margin-top: 5rem;
  }

  .btn--formulario {
    font-size: 2.4rem;
  }
}
