
@font-face {
  font-family: 'fitness-gym-icons';
  src: 
    url('../assets/fonts/fitness-gym-icons/fitness-gym-icons.woff2') format('woff2'),
    url('../assets/fonts/fitness-gym-icons/fitness-gym-icons.woff') format('woff'),
    url('../assets/fonts/fitness-gym-icons/fitness-gym-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'fitness-gym-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-user::before {
  content: "\ea01";
}
.icon-belt::before {
  content: "\ea02";
}
.icon-biceps::before {
  content: "\ea03";
}
.icon-check-list::before {
  content: "\ea04";
}
.icon-check::before {
  content: "\ea05";
}
.icon-close::before {
  content: "\ea06";
}
.icon-dance::before {
  content: "\ea07";
}
.icon-decoration::before {
  content: "\ea08";
}
.icon-dumbbell::before {
  content: "\ea09";
}
.icon-gym::before {
  content: "\ea0a";
}
.icon-house::before {
  content: "\ea0b";
}
.icon-infinity::before {
  content: "\ea0c";
}
.icon-instagram::before {
  content: "\ea0d";
}
.icon-logo::before {
  content: "\ea0e";
}
.icon-lungs::before {
  content: "\ea0f";
}
.icon-medal::before {
  content: "\ea10";
}
.icon-message::before {
  content: "\ea11";
}
.icon-people::before {
  content: "\ea12";
}
.icon-pilates::before {
  content: "\ea13";
}
.icon-search::before {
  content: "\ea14";
}
.icon-tik-tok::before {
  content: "\ea15";
}
.icon-to-top::before {
  content: "\ea16";
}
.icon-whatsapp::before {
  content: "\ea17";
}
