.titulo {
  color: var(--cor-titulo);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}

.titulo--dest {
  color: var(--cor-principal);
  text-decoration: underline;
  text-underline-offset: .5rem
}

.titulo--alt {
  color: var(--cor-principal);
  font-size: 4rem;
}

@media screen and (min-width: 834px) {
  .titulo {
    font-size: 3.2rem;
  }

  .titulo--dest {
    text-underline-offset: .75rem
  }
}

@media screen and (min-width: 1440px) {
  .titulo {
    font-size: 4rem;
  }

  .titulo--dest {
    text-underline-offset: 1.25rem;
  }
}