.plans {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  opacity: 0;
}

.plans.active {
  animation: topRevel 0.5s forwards;
}

@media screen and (min-width: 834px) {
  .plans {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .plans {
    margin-top: 10rem;
    align-items: center;
  }
}
