.plans {
  display: flex;
  flex-direction: column;
  opacity: 0;
  padding: 5rem 1.5rem;
}

.plans:where([data-state="visible"]) {
  animation: topRevel 0.5s forwards;
}

@media screen and (min-width: 834px) {
  .plans {
    padding: 6rem 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .plans {
    align-items: center;
    padding: 10rem 6rem;
  }
}
