.plans__icon {
  color: var(--color-brand-primary);
  font-size: 2.5rem;
}

.plans__icon--check {
  font-size: 2rem;
  vertical-align: middle;
}

@media screen and (min-width: 834px) {
  .plans__icon {
    font-size: 3rem;
  }

  .plans__icon--check {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .plans__icon {
    font-size: 3.5rem;
  }

  .plans__icon--check {
    font-size: 3rem;
  }
}
