.header__nav {
  background-color: var(--color-overlay-25);
  border: 0.1rem solid var(--color-brand-primary);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10rem;
  right: -20rem;
  padding: 2rem 1.5rem;
  gap: 3rem;
  z-index: 2;
  opacity: 0;
  min-width: 20rem;
  transition: all 0.3s;
  backdrop-filter: blur(0.5rem);
}

.header__nav:where([data-state="visible"]) {
  opacity: 1;
  right: 2rem;
  transition: opacity 0.3s;
}

@media screen and (min-width: 1440px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    position: initial;
    opacity: initial;
    background-color: var(--color-brand-primary);
    border: 0;
    border-radius: 5rem;
    padding: 0 6rem;
    width: 100%;
  }
}
