.cabecalho__navegacao {
  background-color: var(--cor-fundo-25);
  border: .1rem solid var(--cor-principal);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10rem;
  right: -20rem;
  padding: 2rem 1.5rem;
  gap: 3rem;
  z-index: 2;
  opacity: 0;
  min-width: 20rem;
  transition: all .3s;
  backdrop-filter: blur(0.5rem);
}

.cabecalho__navegacao--ativo {
  opacity: 1;
  right: 2rem;
  transition: opacity .3s;
}

@media screen and (min-width: 1440px) {
  .cabecalho__navegacao {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    position: initial;
    opacity: initial;
    background-color: var(--cor-principal);
    border: 0;
    border-radius: 5rem;
    padding: 0 6rem;
    width: 100%;
  }
}