.cabecalho__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: var(--cor-fundo-1);
  fill: var(--cor-fundo-1);
  text-decoration: none;
}

.cabecalho__link:focus {
  color: var(--cor-logo);
}

@media screen and (min-width: 1440px) {
  .cabecalho__link {
    height: 6.5rem;;
    font-size: 2.4rem;
    margin-right: 7rem;
    color: var(--cor-escura);
    fill: var(--cor-escura);
    transition: color .5s, fill .5s;
  }

  .cabecalho__link:hover {
    color: var(--cor-fundo-1);
    fill: var(--cor-fundo-1);
  }

  .cabecalho__link:nth-child(2) {
    margin-right: auto;
  }

  .cabecalho__link:last-of-type {
    margin-right: 0;
  }
}