.cabecalho__bloco {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

@media screen and (min-width: 768px) {
  .cabecalho__bloco {
    padding: 0;
  }
}
