.cabecalho__burguer {
  position: fixed;
  width: 5rem;
  height: 5rem;
  top: 4rem;
  right: 2rem;
  background-color: var(--cor-fundo-35);
  background-image: url(../../assets/svg/dumbbell.svg);
  background-size: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  outline: 0;
  border: 0.2rem solid var(--cor-principal);
  border-radius: .5rem;
  z-index: 3;
}

@media screen and (min-width: 1440px) {
  .cabecalho__burguer {
    display: none;
  }
}