.cabecalho__btn {
  background-color: var(--color-surface-base);
  color: var(--color-brand-primary);
  border: 0.1rem solid var(--color-brand-primary);
  padding: 0.9rem 1.2rem;
  font-size: 1.6rem;
}

@media screen and (min-width: 834px) {
  .cabecalho__btn {
    border-color: var(--color-surface-base);
    background-color: var(--color-brand-primary);
    color: var(--color-surface-base);
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1440px) {
  .cabecalho__btn {
    font-size: 1.5rem;
  }
}
