.cabecalho__link {
  font-size: 1.6rem;
  color: var(--cor-fundo-1);
  text-decoration: none;
  padding-bottom: 0.8rem;
  border-bottom: 0.1rem solid var(--cor-fundo-1);
}

.cabecalho__link:focus {
  color: var(--cor-logo);
}

@media screen and (min-width: 768px) {
  .cabecalho__link {
    border: none;
    padding: 0;
    font-size: 1.3rem;
  }

  .cabecalho__link:focus {
    color: var(--cor-fundo-1);;
  }
}

@media screen and (min-width: 1440px) {
  .cabecalho__link {
    font-size: 1.6rem;
  }
}