.cabecalho__btn {
  background-color: var(--cor-fundo-1);
  color: var(--cor-principal);
  border: .1rem solid var(--cor-principal);
  padding: .9rem 1.2rem;
  font-size: 1.6rem;
}

@media screen and (min-width: 834px) {
  .cabecalho__btn {
    border-color: var(--cor-fundo-1);
    background-color: var(--cor-principal);
    color: var(--cor-fundo-1);
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1440px) {
  .cabecalho__btn {
    font-size: 1.5rem;
  }
}
