.cabecalho__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: var(--color-surface-base);
  text-decoration: none;
}

.cabecalho__link:focus {
  color: var(--cor-logo);
}

@media screen and (min-width: 1440px) {
  .cabecalho__link {
    height: 6.5rem;
    font-size: 2.4rem;
    margin-right: 7rem;
    color: var(--color-neutral-black);
    transition:
      color 0.5s,
      fill 0.5s;
  }

  .cabecalho__link:hover {
    color: var(--color-surface-base);
  }

  .cabecalho__link:nth-child(2) {
    margin-right: auto;
  }

  .cabecalho__link:last-of-type {
    margin-right: 0;
  }
}
