.cabecalho__bloco {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

@media screen and (min-width: 1440px) {
  .cabecalho__bloco {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 132rem;
  }
}
