.infos__contador {
  color: var(--cor-escura);
  font-size: 3.6rem;
  font-weight: 700;
  font-family: 'Overpass', sans-serif;
}


@media screen and (min-width: 834px) {
  .infos__contador {
    font-size: 4.8rem;
  }
}

@media screen and (min-width: 1440px) {
  .infos__contador {
    font-size: 6.4rem;
  }
}