.infos__icon {
  font-size: 4rem;
  color: var(--color-brand-primary);
}

.infos__icon--alt {
  color: var(--color-brand-primary);
}

@media screen and (min-width: 834px) {
  .infos__icon {
    font-size: 6rem;
  }

  .infos__icon--alt {
    color: var(--color-neutral-white);
  }
}

@media screen and (min-width: 1440px) {
  .infos__icon {
    font-size: 7.5rem;
  }
}
