.infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  position: relative;
  opacity: 0;
  container-type: inline-size;
}

.infos::after {
  position: absolute;
  left: -7.5rem;
  bottom: 0;
  content: "";
  display: block;
  background: url(../../assets/svg/icons-art/section-accent.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 16rem;
  height: 15rem;
  z-index: -1;
  transform: rotate(95deg);
}

.infos:where([data-state="visible"]) {
  animation: topRevel 0.5s forwards;
}

@container (min-width: 540px) {
  .infos::after {
    width: 19rem;
    height: 18rem;
    bottom: -13rem;
    left: -11rem;
  }
}

@media screen and (min-width: 834px) {
  .infos {
    flex-wrap: nowrap;
    margin-top: 6rem;
  }

  .infos::after {
    width: 21.5rem;
    height: 20.5rem;
    bottom: -15rem;
    left: -10rem;
  }
}
