.buscador__bot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9rem;
  padding-bottom: 9rem;
  margin-top: 4.5rem;
  background-image:
    linear-gradient(270deg, var(--cor-principal-23) 0%, var(--cor-principal-0) 100%),
    url(../../assets/img/buscador.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 834px) {
  .buscador__bot {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .buscador__bot {
    margin-top: 9rem;
  }
}