.buscador__ipt {
  padding: 0.8rem 1rem 0.8rem 4rem;
  box-shadow: 0 -0.1rem 0.2rem 0.2rem var(--cor-sombra) inset;
  border: 0;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  height: 4rem;
}

.buscador__ipt::placeholder {
  color: var(--color-text-placeholder);
}
