.modalidade {
  background-image:
    url(../../assets/svg/decoracao-black.svg),
    url(../../assets/svg/decoracao-principal.svg);
  background-repeat: no-repeat;
  background-position:
    calc(0% - 5rem) 20%,
    100% bottom;
  background-size:
    19rem,
    16rem;
  margin-top: 6rem;
  padding-bottom: 8.5rem;
}

@media screen and (min-width: 834px) {
  .modalidade {
    background-size:
      20rem,
      22rem;
    background-position:
      calc(0% - 7.5rem) 13%,
      calc(100% + 4rem) calc(100% - 3rem);
    margin-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .modalidade {
    background-size:
      21.5rem,
      26rem;
    margin-top: 10rem;
    padding-bottom: 10rem;
  }
}