.modalidade__card {
  display: flex;
  min-height: 40rem;
  max-width: 31.8rem;
  width: 100%;
  height: 100%;
  text-align: left;
}

.modalidade__card.active .modalidate__rotate {
  transform: rotateY(180deg);
}

@media screen and (min-width: 834px) {
  .modalidade__card {
    min-height: 48.5rem;
    max-width: 38.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .modalidade__card {
    min-height: 39.5rem;
    max-width: 31.6rem;
    flex: 1;
  }
}