.modalidade__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  transform: rotateY(0deg);
}

@media screen and (min-width: 834px) {
  .modalidade__cards {
    gap: 5rem 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .modalidade__cards {
    gap: 2rem;
  }
}